<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.pipi.commlib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 使用<uses-permission>元素允许设备访问NFC硬件 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".base.container.ContainerActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.dev.pipi.commfunc.zxing.ScanActivity"/>
        <activity android:name="com.dev.pipi.commfunc.multimedia.CameraActivity"/>
        <service android:name=".service.NetWorkService" />
    </application>

</manifest>